<ion-content>

  <ion-grid style="height: 100%">
    <ion-row color="primary" justify-content-center align-items-center style="height: 100%">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h1 style="font-size: 3rem">{{(state == 1)?"Sign up":"Log in"}}</h1>
        </div>
        <div padding>
          <ion-item>
            <ion-input placeholder='email'></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder='password'></ion-input>
          </ion-item>
          <div *ngIf='state == 1'>
            <ion-item>
              <ion-input placeholder='repeat password'></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder='first name'></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder='last name'></ion-input>
            </ion-item>
          </div>
          <div text-center>
            <br>
            <ion-button (click)='signupOrLogin()'>{{(state == 1)?"Sign up":"Log in"}}
            </ion-button>
          </div>
          <div text-center>
            <p (click)='toggleState()'>{{toggleMessage}}</p>
          </div>
          <div text-center>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="white" style="color: black">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                      alt="" width="16px" height="16px">&nbsp;Sign in with Google
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button style="background-color: #1877F2;">
                    <ion-icon name="logo-facebook" style="color:white;"></ion-icon>&nbsp;Continue
                    with FaceBook
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- <ion-card>
    <ion-input placeholder='email'></ion-input>
    <ion-input placeholder='password'></ion-input>
    <div *ngIf='state == 1'>
      <ion-input placeholder='repeat password'></ion-input>
      <ion-input placeholder='first name'></ion-input>
      <ion-input placeholder='last name'></ion-input>
    </div>
  </ion-card> -->
  <!-- <ion-button (click)='signupOrLogin()'>{{(state == 1)?"Sign up":"Log in"}}</ion-button>
  <p style="padding: 10px; padding-bottom: 0;" (click)='toggleState()'>{{toggleMessage}}</p> -->


</ion-content>