<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='card shadow m20' style='overflow: auto;'>
    <div class="menu-item" *ngFor='let item of selectedItems'>
      <div class='hfsb mt10'>
        <p style='color: black;font-size: 1.2rem;'>₹{{item.restaurantMenu.restaurantMenuPrice * item.count}}<span> ({{item.restaurantMenu.restaurantMenuPrice}} X {{item.count}})</span></p>
        <div class="item-counter mt10 hfc">
          <p class='solid-bg-left' (click)="changeItemCount(item, -1)">-</p>
          <p class='item-quantity'>{{item.count}}</p>
          <p class='solid-bg-right' (click)="changeItemCount(item, 1)">+</p>
        </div>
      </div>
      <div class='custom-hfsb'>
        <div style="align-items: flex-start;" class='custom-hffs'>
          <img class='menu-item-image' src='{{item.restaurantMenu.restaurantMenuPhoto}}'>
          <div class='m10'>
            <p class="black mt0">{{item.restaurantMenu.restaurantMenuName}}</p>
            <!-- <p>₹{{item.restaurantMenu.restaurantMenuPrice}}</p> -->
          </div>
        </div>
<!--   
        <div class="item-counter mt10 hfc">
          <p class='solid-bg-left' (click)="changeItemCount(item, -1)">-</p>
          <p class='item-quantity'>{{item.count}}</p>
          <p class='solid-bg-right' (click)="changeItemCount(item, 1)">+</p>
        </div> -->
      </div>
      <div *ngIf='item.restaurantMenuCustomizationList.length !== 0'>
        <ion-list>
          <ion-radio-group allowEmptySelection='true' [(ngModel)]='item.customisation'>
            <ion-list-header>Select a customisation:</ion-list-header>
            <ion-item *ngFor='let r of item.restaurantMenuCustomizationList'>
              <ion-label>{{r.restaurantMenuCustomizationDescription}}</ion-label>
              <ion-radio [value]='r.restaurantMenuCustomizationDescription'></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </div>
  </div>
  <div class='card shadow m20 p20'>
    <div *ngIf='!addressChanged'>
      <p>Delivering to <b>{{address}}</b><span (click)='addressChanged=true' style='color: #1E88E5;'> (change)</span></p>
    </div>
    <div *ngIf='addressChanged'>
      <p>Select a delivery address:</p>
      <ion-radio-group>
        <ion-item *ngFor='let add of addressList'>
          <ion-label>{{add.customerAddress}}</ion-label>
          <ion-radio (ionSelect)='address = add.customerAddress' [checked]='(add.customerAddress === address)'></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div [routerLink]='["/profile"]' class='hfc custom-button'>
        <p>Add new Address</p>
        <ion-icon name='add'></ion-icon>
      </div>
    </div>
  </div>
  <div>
  <div class='card shadow m20 p20'>
    <div class='hfsb'>
      <p class="medium-text">No of items</p>
      <p class="medium-text">{{totalCount}}</p>
    </div>
    <div class='hfsb'>
      <p class="medium-text">Price of items</p>
      <p class="medium-text">₹{{price}}</p>
    </div>
    <div class='hfsb'>
      <p class="medium-text">SGST</p>
      <p class="medium-text">₹{{formatNumber(sgst)}}</p>
    </div>
    <div class='hfsb'>
      <p class="medium-text">CGST</p>
      <p class="medium-text">₹{{formatNumber(cgst)}}</p>
    </div>
    <div class='hfsb'>
      <p class="big-text">Total price</p>
      <p class="big-text">₹{{totalPrice}}</p>
    </div>
    <!-- <ion-button (click)="startPayment()" style="width: calc(100% - 10px);margin: 5px;">Place Order and Pay</ion-button> -->
    <ion-button (click)="startOrderCOD()" style="width: calc(100% - 10px);margin: 5px;">Place Order via COD</ion-button>
  </div>
    <!-- <div class="hr"></div> -->
    <div *ngIf='showAddressInput' style='background: #e0e0e0;' class='m10 p10 card'>
      <p class='m10'>Delivery address is not selected, please enter a delivery address to continue</p>
      <ion-item>
        <ion-label position='floating'>Enter delivery address</ion-label>
        <ion-input [(ngModel)]='address'></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
