/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Google Icons fetched from server */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');
$primary: #0C67EA;
$gray: #707070;

:root {
    --ion-font-family: 'Comic Neue', 'Roboto';
}

.primary-bg {
    background: $primary;
}

.primary {
    color: $primary;
}

.half-width {
    width: 50%;
}

.shadow{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.014), 0 4px 4px rgba(0,0,0,0.21);
}

.card {
    border-radius: 4px;
}

.m10{
    margin: 10px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.hfc {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.hfse {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.hfsa {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.hfsb {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.mt0 {
    margin-top: 0;
}
.mt10 {
    margin-top: 10px;
}
.hffs {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.vfsb {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

// Colors
.red {
    color: #f44336;
}

.black {
    color: black;
}
.gray {
    color: $gray;
}

.toolbar-icon {
    color: #707070;
    font-size: 1.4rem;
    margin: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt20{
    margin-top: 20px;
}

.mb20{
    margin-bottom: 20px;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

p {
    color: $gray;
}

.text14 {
    font-size: 1.4rem;
}

.hr {
    height: 1px;
    min-height: 1px;
    background: $gray;
}

.white-bg {
    background: white;
}